---
# tasks file for roles/reserve-dhcp
- name: Create static DHCP reservation and DNS entry
  community.routeros.command:
    commands:
      - /ip dhcp-server lease make-static [find where address={{ host_ip }}]
      - /ip dns static add address={{ host_ip }} name={{ inventory_hostname }} comment="Managed by Ansible"
      - /ip dns static add address={{ host_ip }} name={{ inventory_hostname }}.{{ domain }} comment="Managed by Ansible"
  delegate_to: mtik-router
  vars:
    ansible_user: "{{ router.ansible_user }}"
    ansible_ssh_pass: "{{ router.ansible_ssh_pass }}"
